#container {
        height: 667px;
        width: 699px;
        text-align: justify;
        background-color: #fff;
        margin:0 auto;
        }
        
body {
        background-color: #cccccc;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        size:11px;
        }  

#header {
        height: 50px;
        background-color: #b0b0b0;
        padding-left: 40px;
        }        
        
h1{
        padding-left: 0px;
        padding-top:8px;
        margin-bottom: 0px;
        font-size: 23px;
        background-color: #b0b0b0;
        } 
        
h3{    
        padding-left: 10px;
        font-size: 14px;
        margin-bottom: 0px;
        margin-top: 1%;
        }    
           
            
#content {
        width:520px; 
        height:300px; 
        float:left; 
        background-color:#fff;
        
}
        
ul {
        margin: 0px;
        padding: 0px;
        width: 699px;
        list-style: none;
        text-transform: uppercase;
        display: inline-block;
        background-image:url(images/nb.gif);
        background-repeat: repeat-x;
        }
        
ul li {
        display:inline; 
        float:left; 
        font-size: 11px;
}
        
a {
        padding: 0px 10px 0px 9px;
        line-height: 25px;
        text-decoration: none;
        color:#fff;
        float: left;
        display: block;
        }   
        
a:link {text-decoration:none;}       
a:focus {color:black} 

.blue-link {
        color: white;
        text-decoration: underline;
      }
      
.blue-link:hover {
        color: black;
        text-decoration: underline;
      }
        
.foto IMG {position: relative;}
        
.font1 {
        left: 10px; 
        top: 4px; 
        z-index: 1;}
        
.font2 {
        left: 283px;
        top: -100px;
        z-index: 2;}
        
        
